<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926744596968-6k9kjr2bndovugfpurvk8iustjuit0s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926744596968-6k9kjr2bndovugfpurvk8iustjuit0s9</string>
	<key>API_KEY</key>
	<string>AIzaSyCnZ7uH-1Vdgsr474jgsPyu09Lh4LVQ_s0</string>
	<key>GCM_SENDER_ID</key>
	<string>926744596968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiwhan.linky</string>
	<key>PROJECT_ID</key>
	<string>linky-app-bb80c</string>
	<key>STORAGE_BUCKET</key>
	<string>linky-app-bb80c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926744596968:ios:d4ebf84561a10cf512545d</string>
</dict>
</plist>